#hDiv{
    padding: 10px;
    border-bottom: 10px solid;
    
    animation: mymove 5s infinite;
    
}


@keyframes mymove{
    0%{border-bottom-color: red;}
    25%{border-bottom-color: cornflowerblue;}
    50%{border-bottom-color: chocolate;}
    100%{border-bottom-color: mediumseagreen;}
}


#title{
    background-color: darkcyan;
    color: white;
    display: block;
    border-bottom: 2px solid black;
    padding: 10px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

#navList{
    list-style-type: none;
    margin: 0;
    width: 100%;
    background-color: #e6ffe6;
    margin-top: -10px;
}

#navList li{
    display: block;
    background-color: #e6ffe6;
    color: black;
    margin-left: -40px;
    padding: 10px;
    border-bottom: 1px solid black;
    
}

#navList a{
    text-decoration: none;
    display: block;
    color: inherit;
}


#navList li:hover{
    background-color: black;
    color: white;
    border-left: 10px solid #cc4400;
}

/* admin home section css */
.hdiv{
    background-color: darkorange;
    border-radius: 25px;
    margin: 50px;
    padding: 25px 0;
    font-size: 20px;
}

.hdiv:hover{
    background-color: aquamarine;
}


/* footer section css */
#footerDiv{
    background-color: #00004d;
    padding: 20px;
    color: white;
    font-size: 20px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}



#conH{
    border-bottom: 2px solid black;
    color: darkcyan;
    font-size: 18px;
    padding: 10px 2px;
    
}



















