*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
}

#log{
    font-size: 25pt;
    line-height: 200%;
    padding-left: 2.5%;
    background-color: #2F3C7E;
    color: #FBEAEB;
}


nav {
    background-color: #A8D8EA;
    line-height: 30pt;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #2F3C7E;
    line-height: 40px;
    padding-left: 13px;
    padding-right: 13px;
    display: block;
    white-space: nowrap;
    font-size: 12pt;
  }
  
  nav ul li {
    display: inline-block;
    position: relative;
  }
  
  nav ul li ul{
    position: absolute;
    visibility: hidden;
    background-color: #A8D8EA;
    color: #FBEAEB;
  }
  
  
  nav ul li:hover > ul{
    visibility: visible;
  }
  
  nav ul li ul li{
    width: 100%;
  }
  
  
  nav ul li a:hover {
    background-color: #FFFFD2;
    color: #2F3C7E;
  }
  
  nav ul li ul li ul{
    top: 0;
    left: 100%;
  }

  

#first{
    position: absolute;
    float: left;
    top: 25%;
    left: 5%;
    right: 67.2%;
    bottom: 50%;
    padding: 1%;
    background-color: #A8D8EA;
    color: #2F3C7E;
    font-size: 10pt;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

/* 2.5% gap and div size- 15%, total div with space 17.5% and only div 12.5%, 28% total*/

#second{
  position: absolute;
  float: left;
  top: 25%;
  left: 24.8%;
  right: 50.4%;
  bottom: 50%;
  padding: 1%;
  background-color: #A8D8EA;
  color: #2F3C7E;
  font-size: 10pt;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}


#third{
  position: absolute;
  float: left;
  top: 25%;
  left: 41.6%;
  right: 33.06%;
  bottom: 50%;
  padding: 1%;
  background-color: #A8D8EA;
  color: #2F3C7E;
  font-size: 10pt;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}


#fourth{
  position: absolute;
  float: left;
  top: 25%;
  left: 58.4%;
  right: 16.8%;
  bottom: 50%;
  padding: 1%;
  background-color: #A8D8EA;
  color: #2F3C7E;
  font-size: 10pt;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}



#fifth{
  position: absolute;
  float: left;
  top: 25%;
  left: 75.2%;
  right: 8%;
  bottom: 50%;
  padding: 1%;
  background-color: #A8D8EA;
  color: #2F3C7E;
  font-size: 10pt;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}


/*
#sixth{
  position: absolute;
  float: left;
  top: 53%;
  left: 17.5%;
  right: 70%;
  bottom: 50%;
  padding: 1%;
  background-color: #A8D8EA;
  color: #2F3C7E;
  font-size: 10pt;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}



#seventh{
  position: absolute;
  float: left;
  top: 53%;
  left: 17.5%;
  right: 70%;
  bottom: 50%;
  padding: 1%;
  background-color: #A8D8EA;
  color: #2F3C7E;
  font-size: 10pt;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}



#eighth{
  position: absolute;
  float: left;
  top: 53%;
  left: 17.5%;
  right: 70%;
  bottom: 50%;
  padding: 1%;
  background-color: #A8D8EA;
  color: #2F3C7E;
  font-size: 10pt;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}



#ninth{
  position: absolute;
  float: left;
  top: 53%;
  left: 17.5%;
  right: 70%;
  bottom: 50%;
  padding: 1%;
  background-color: #A8D8EA;
  color: #2F3C7E;
  font-size: 10pt;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}



#tenth{
  position: absolute;
  float: left;
  top: 53%;
  left: 17.5%;
  right: 70%;
  bottom: 50%;
  padding: 1%;
  background-color: #A8D8EA;
  color: #2F3C7E;
  font-size: 10pt;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}



#eleventh{
  position: absolute;
  float: left;
  top: 81%;
  left: 17.5%;
  right: 70%;
  bottom: 50%;
  padding: 1%;
  background-color: #A8D8EA;
  color: #2F3C7E;
  font-size: 10pt;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}



#twelveth{
  position: absolute;
  float: left;
  top: 81%;
  left: 17.5%;
  right: 70%;
  bottom: 50%;
  padding: 1%;
  background-color: #A8D8EA;
  color: #2F3C7E;
  font-size: 10pt;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}



#thirtenth{
  position: absolute;
  float: left;
  top: 81%;
  left: 17.5%;
  right: 70%;
  bottom: 50%;
  padding: 1%;
  background-color: #A8D8EA;
  color: #2F3C7E;
  font-size: 10pt;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}




#fourteenth{
  position: absolute;
  float: left;
  top: 81%;
  left: 17.5%;
  right: 70%;
  bottom: 50%;
  padding: 1%;
  background-color: #A8D8EA;
  color: #2F3C7E;
  font-size: 10pt;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}




#fifteenth{
  position: absolute;
  float: left;
  top: 81%;
  left: 17.5%;
  right: 70%;
  bottom: 50%;
  padding: 1%;
  background-color: #A8D8EA;
  color: #2F3C7E;
  font-size: 10pt;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}


*/